body {
  font-family: arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

.form-container {
  background-color: #fff;
  padding: 15px;
  max-width: 400px;
  margin: 0 auto 20px;
  border-radius: 8px;
}

input,
button {
  width: 100%;
  margin-top: 8px;
  padding: 8px;
  box-sizing: border-box;
}
