body {
  font-family: arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

.form-container {
  background-color: #fff;
  padding: 15px;
  max-width: 400px;
  margin: 0 auto 20px;
  border-radius: 8px;
}

input,
button,
textarea {
  width: 100%;
  margin-top: 8px;
  padding: 8px;
  box-sizing: border-box;
}

button {
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background: #0056b3;
}

.book-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.book-card {
  background: #fff;
  border-radius: 10px;
  padding: 15px;
}
.book-card img {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.book-card h3 {
  margin: 10px 0 5px;
}

.rating {
  font-weight: bold;
  margin: 5px 0;
}

.review {
  font-size: 13px;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 4px;
  margin-top: 5px;
}

.delete-btn {
  background: crimson;
  margin-top: 10px;
}
